PGDATABASE=database
PGUSER=user
PGPASSWORD=password
PGPORT=port

JWT_SECRET=secret

AWS_ACCESS_KEY_ID=access-key-id
AWS_SECRET_ACCESS_KEY=secret-access-key
AWS_REGION=region
AWS_BUCKET_NAME=bucket-name

PGADMIN_DEFAULT_EMAIL=email
PGADMIN_DEFAULT_PASSWORD=password
