PGDATABASE=database
PGUSER=user
PGPASSWORD=password
DBHOST=localhost
PGPORT=5432

JWT_SECRET=secret
JWT_EXPIRES_IN=7d

AWS_ACCESS_KEY=access-key-id
AWS_SECRET_KEY=secret-access-key
AWS_REGION=region
AWS_BUCKET=bucket-name
EXPECTED_MIGRATION=Migration20260720120000

PGADMIN_DEFAULT_EMAIL=email
PGADMIN_DEFAULT_PASSWORD=password
